body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%); 
  

/* 
  background: rgba(0, 0, 0, 0) url('https://images.unsplash.com/photo-1508837063458-8fb5212f6d11?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
 height: 100%;
 background-size: cover; */
  

}

button {
  cursor: pointer;
}
